extends layout

block content
  h1= food
  script(type='text/javascript', src='textMessenger.js')
  form(action='demo_form.asp')
     | First name:
     input(type='text', name='fname')
     <br />
     |   Last name:
     input(type='text', name='lname')
     <br />
     input(type='submit', value='Submit')
