extends layout

block content
img(src="texter.psd")
  script(type='text/javascript', src='textMessenger.js')
  form(action='demo_form.asp' id='textInfo')
     | Phone Number:
     input(type='text', name='phoneNumber' id='recipientNumber')
     <br />
     |   Desired Message:
     input(type='text', name='content' id = 'messageContent')
     <br />
     input(type='submit', value='Submit')
