extends layout

block content
  h1= food
  script(type='text/javascript', src='textMessenger.js')
  p Online Text Messenger
  p Please enter the recipient's phone number
  p Please enter the desired message
